<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUsersService" />
                <binding name="BasicHttpBinding_IMessagesService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.228.23:8733/Service/UsersService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsersService"
                contract="UsersService.IUsersService" name="BasicHttpBinding_IUsersService" />
            <endpoint address="http://192.168.228.23:8734/Service/MessagesService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMessagesService"
                contract="MessagesService.IMessagesService" name="BasicHttpBinding_IMessagesService" />
        </client>
    </system.serviceModel>
</configuration>